# logs
Logs/
*.log

# archives: ignore all...
exports/archives/*

# ...but keep the single promotion artifact tracked
!exports/archives/PLC_latest.projectarchive

# plcopen: ignore all...
exports/plcopen/*

# ...but keep one stable diff file tracked (DEV only)
!exports/plcopen/DEV.plcopen.xml

# OS/editor
Thumbs.db
.DS_Store
.vscode/
.idea/

# secrets
*.secret
*.env